body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 2;
    font-size: 16px;
    color: #3e404c;
    background-color: #fffefb;
}
header{
    display: flex;
    flex-direction: row;
    min-height: 60px ;
    background-color: #ffffff;
    color: #242b35;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
header img{
    width: 100px;
    margin-left: 100px;
    padding: 10px 0 10px 0;
}
.dropdown{
    margin-left: 800px;
}
#show .org{
    color: #ff7133;
}
a{
    text-decoration: none;
    color: #3e404c;
    text-transform: uppercase;
}
.drop-content {
    display: none;
    background-color: #fffefb;
    color: #0d141e;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.drop-content a{
    display: block;
    padding: 10px;
}
.dropdown:hover .drop-content{
   display: block;
}
.btn{
    border: none;
    background-color: #ff7133;
    border: #fffefb;
    color: #3e404c;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
    padding: 30px 30px 32px 30px;
}
.drop-content a:hover{
    background-color: #ff7133;
    color: #fffefb;
}
li{
    list-style: none;
}
#show{
    background-image: url("IMG/background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    height: 650px;
    align-items: center;
    font-size: 15px;
    position: relative;
}
#show .text{
    position: absolute;
    top:35%;
    left: 30%;
    text-align: center;
}
#sec1 {
    display: flex;
    flex-direction: row;
    color:#fffefb;
    height: 500px;
    background-color: #3a424d;
}
#sec1 .box1{
    width:30%;
    padding: 50px 100px 50px 100px;
}
#sec1 .box2{
    width:50%;
    padding: 50px 100px 50px 100px;
}
#html{
    display: flex;
    flex-direction: row;
}
.vid{
    width: 100%;
}
iframe{
    padding: 50px 100px 50px 100px;
    height: 500px;
    width: 800px;
}
#html .text{
    width:30% ;
    background-color: #242b35;
    color: #fffefb;
    padding: 50px 100px 50px 100px;
}
#html .vid{
    background-color: #0d141e;
}
#css{
    display: flex;
    flex-direction: row;
}
#css .text{
    width:30% ;
    background-color: #3a424d;
    color: #fffefb;
    padding: 50px 100px 50px 100px;
}
#css .vid{
    background-color: #1d262f;
}
#js{
    display: flex;
    flex-direction: row;
}
#js .text{
    width:30% ;
    background-color: #242b35;
    color: #fffefb;
    padding: 50px 100px 50px 100px;
}
#js .vid{
    background-color: #0d141e;
}
#blog{
    display: flex;
    flex-direction: column;
    background-color: #fffefb;
    margin-bottom: 20px;
}
#blog .text{
    padding: 50px 100px 50px 100px;
    width: 50%;
}
#blog .pic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#blog .box{
    width: 225px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#blog .box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
#blog .container{
    padding: 15px;
}
#blog img{
    width: 100%;
}
#blog a{
    color: #1d262f;
}
footer{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: #fffefb;
}
footer .box1{
    background-color: #fe9844;
    padding: 50px 100px 50px 100px;
    text-align: center;
}
footer .box2{
    background-color: #ff8844;
    padding: 50px 100px 50px 100px;
}
footer .box3 {
    background-color: #ff7133;
    padding: 50px 100px 50px 100px;
}
footer ul{
    margin-left: -50px;
}
footer .fac img{
    width:60%
}
footer .in img{
    width:60%;
    margin-left: 20px;
}
footer .mail img{
    margin-top: 5px;
}
footer .icon {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
footer a {
    color: #fffefb;
}
footer .box1 .copyr {
    font-size: 18px;
    margin-top: 100px;
    font-weight: bold;
}
#show, main, footer{
    overflow: hidden;
}
footer span{
    font-size: 1.5em;
    font-weight: bold;
    color: #0d141e;
}
ul a:hover{
    color: #242b35;
}
<!---->
@media (max-width: 1300px) {
    iframe{
        width: 80%;
    }
}
@media (max-width: 1229px) {
    .dropdown{
        margin-left: 550px;
    }
}
@media (max-width: 1200px) {
    #show .text{
        top:60%;
        left: 25%;
    }
    #sec1 .box1{
        padding: 50px 50px 50px 50px;
    }
    #sec1 .box2{
        padding: 50px 50px 50px 50px;
    }
    footer .box1{
        padding: 50px 50px 50px 50px;
    }
    footer .box2{
        padding: 50px 50px 50px 50px;
    }
    footer .box3 {
        padding: 50px 50px 50px 50px;
    }
    a.active{
        padding: 10px 10px 10px 10px;
    }
}
@media (max-width: 1000px) {
.dropdown{
    margin-left: 400px;
}
    #sec1 .box1{
        padding: 25px 50px 25px 50px;
    }
    #sec1 .box2{
        padding: 25px 50px 25px 50px;
    }
    footer .box1{
        padding: 25px 50px 25px 50px;
    }
    footer .box2{
        padding: 25px 50px 25px 50px;
    }
    footer .box3 {
        padding: 25px 50px 25px 50px;
    }
}
@media(max-width: 945px) {
#sec1, #html, #css, #js, footer{
    display: flex;
    flex-direction: column;
}
    #sec1 .box1{
        width:80%;
    }
    #sec1 .box2{
        width:80%;
    }
    #sec1{
        height: 700px;
    }
    #html .text{
        width: 80%;
    }
    #html iframe{
        width: 80%;
    }
    #css .text{
        width: 80%;
    }
    #css iframe{
        width: 80%;
    }
    #js .text{
        width: 80%;
    }
    #js iframe{
        width: 80%;
    }
   footer .box3{
       width: 100%;
   }
    footer .icon{
        width: 50%;
        margin-left: 20%;
    }
    footer p{
        text-align: center;
        width: 80%;
    }
}
#sec1{
    height: 950px;
}
footer .box1{
    padding: 15px 25px 15px 25px;
}
footer .box2{
    padding: 15px 25px 15px 25px;
}
footer .box3 {
    padding: 15px 25px 15px 25px;
}
footer .mail img{
    width:40%;
    margin-top: 5px;
}
@media(max-width: 850px) {
    #show .text{
        left: 20%;
    }
    .dropdown{
        margin-left: 300px;
    }
}
@media(max-width: 750px) {
    header{
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    header img {
        margin-left: 40%;
    }
    .dropdown{
        margin-left: 30%;
    }
    .btn{
        padding: 20px;
    }
    #show .text{
        left: 10%;
    }
    #blog .pic{
        display: flex;
        flex-direction: column;
        margin-left: 30%;
    }
    #blog .pic .box{
        margin-top: 20px;
    }
    }


@media(max-width: 650px) {
    #show .text{
        left: 5%;
    }
    iframe{
        padding: 50px 10px 50px 50px ;
    }
}
@media (max-width: 545px) {
    nav{
        display: flex;
        flex-direction: column;
    }
   .navbar a{
        display: block;
    }
    a.active{
        padding: 10px 2px 10px 2px;
    }
    .btn{
        margin-left: 20px;
    }
    #blog .pic{
        margin-left: 25%;
    }
    #html .text, #css .text, #js .text{
        padding: 50px 60px 50px 50px;
    }
    #blog .text{
        padding: 50px 20px 50px 20px;
        width: 90%;
    }
}
@media(max-width: 500px) {
    footer .fac img{
        width:90%
    }
    footer .in img{
        width:90%;
        margin-left: 15px;
    }
    footer .mail img{
        width:60%;
        margin-top: 5px;
    }
}
@media (max-width: 482px) {
    #sec1{
        height: 1050px;
    }
}
@media (max-width: 450px) {
    footer .fac img{
        width:70%
    }
    footer .in img{
        width:70%;
        margin-left: 10px;
    }
    footer .mail img{
        width:55%;
        margin-top: 5px;
    }
}
@media (max-width: 424px) {
    #sec1{
        height: 1250px;
    }
}
@media (max-width: 400px) {
    footer .box1{
        padding: 15px 10px 15px 10px;
    }
}
@media (max-width: 372px) {
    footer .icon{
        display: block;
        padding: 1px;
    }
    footer .bo1{
        height: 200px;
    }
    header img {
        margin-left: 35%;
    }
    .dropdown{
        margin-left: 20%;
    }
}
@media(max-width:320px) {
    #show .text{
        top: 50%;
    }
    #sec1{
        height: 1350px;
    }
    #blog .pic{
        margin-left: 15%;
    }
}
@media(max-width:293px) {
    #sec1{
        height: 1450px;
    }
    #blog .pic{
        margin-left: 10%;
    }
}
@media(max-width:285px) {
    #sec1{
        height: 1550px;
    }
    iframe{
        padding: 50px 10px 50px 25px ;
    }
    #blog .pic{
        margin-left:5%;
    }
}
@media(max-width:263px) {
    #sec1{
        height: 1700px;
    }
    #html .text, #css .text, #js .text{
            padding: 10px 40px 10px 20px;
    }
    #blog .box{
        width: 200px;
    }
    header img {
        margin-left: 25%;
    }
    .dropdown{
        margin-left: 10%;
    }
}
@media(max-width:229px) {
    #sec1{
        height: 1900px;
    }
    #blog .box{
        width: 150px;
    }
}
@media(max-width:202px) {
    #sec1{
        height: 2200px;
    }
    header img {
        margin-left: 25%;
    }
    .dropdown{
        margin-left: 5%;
    }
}
@media(max-width:190px) {

    header img {
        margin-left: 20%;
    }
    .dropdown{
        margin-left: 1%;
    }
    .btn{
        padding: 10px;
    }
}




