body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 2;
    font-size: 16px;
    color: #3e404c;
    background-color: #fffefb;
}
header{
    display: flex;
    flex-direction: row;
    min-height: 60px ;
    background-color: #ffffff;
    color: #242b35;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
header img{
    width: 200px;
    margin-left: 100px;
    padding: 10px 0 10px 0;
}
nav{
    margin-left: 500px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
nav .navbar a{
    justify-content: space-between;
    margin-left: 30px;
}
a.active{
    background-color: #fe9844;
    color: #fffefb;
    padding: 35px 20px 30px 20px;
}
a{
    text-decoration: none;
    color: #3e404c;
    text-transform: uppercase;
}
.drop-content {
    display: none;
    background-color: #fffefb;
    color: #0d141e;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.drop-content a{
    display: block;
    padding: 10px;
}
.dropdown:hover .drop-content{
   display: block;
}
.btn{
    border: none;
    background-color: #fffefb;
    color: #3e404c;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 50px;
}
.drop-content a:hover{
    background-color: #ff7133;
    color: #fffefb;
}
li{
    list-style: none;
}
#show{
    background-image: url("IMG/background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    height: 650px;
    align-items: center;
    font-size: 15px;
    position: relative;
}
#show .text{
    position: absolute;
    top:35%;
    left: 30%;
    text-align: center;
}
main{
    background-color: #3a424d;
}
#sec1 {
    display: flex;
    flex-direction: row;
    color:#fffefb;
    height: 500px;
}
#sec1 .box1{
    width:30%;
    padding: 50px 100px 50px 100px;
}
#sec1 .box2{
    width:50%;
    padding: 50px 100px 50px 100px;
}
#html{
    display: flex;
    flex-direction: row;
}
#html .text{
    width:30% ;
    background-color: #242b35;
    color: #fffefb;
    padding: 50px 100px 50px 100px;
}
#html iframe{
    padding: 50px 100px 50px 100px;
    background-color: #0d141e;
}
iframe{
    width: 100%;
}
#css{
    display: flex;
    flex-direction: row;
}
#css .text{
    width:30% ;
    background-color: #3a424d;
    color: #fffefb;
    padding: 50px 100px 50px 100px;
}
#css iframe{
    padding: 50px 100px 75px 100px;
    background-color: #1d262f;
}
#js{
    display: flex;
    flex-direction: row;
}
#js .text{
    width:30% ;
    background-color: #242b35;
    color: #fffefb;
    padding: 50px 100px 50px 100px;
}
#js iframe{
    padding: 50px 100px 50px 100px;
    background-color: #0d141e;
}
#blog{
    display: flex;
    flex-direction: column;
    background-color: #fffefb;
}
#blog .text{
    padding: 50px 100px 50px 100px;
    width: 50%;
}
#blog .pic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#blog .box{
    width: 225px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#blog .box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
#blog .container{
    padding: 15px;
}
#blog img{
    width: 100%;
}
#blog a{
    color: #1d262f;
}
footer{
    margin-top: 100px;
    color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: #fffefb;
}
footer .box1{
    background-color: #fe9844;
    padding: 50px 100px 50px 100px;
    text-align: center;
}
footer .box2{
    background-color: #ff8844;
    padding: 50px 100px 50px 100px;
}
footer .box3 {
    background-color: #ff7133;
    padding: 50px 100px 50px 100px;
}
footer .fac img{
    width:85%
}
footer .in img{
    width:75%;
    margin-left: 20px;
}
footer .mail img{
    width:60%;
    margin-top: 5px;
}
footer .icon{
    display: flex;;
    flex-direction: row;
    margin-top: 100px;
}
span{
font-weight: bold;
    color: #1d262f;
    font-size: 20px;
}
footer a {
    color: #fffefb;
}
footer .box1 .copyr {
    font-size: 18px;
    margin-top: 100px;
    font-weight: bold;
}
<!---->
@media (max-width: 1300px) {
    nav{
        margin-left: 200px;
    }
    iframe{
        width: 90%;
    }
}
@media (max-width: 1267px) {
    iframe{
        width: 70%;
    }
}
@media (max-width: 1200px) {
    header{
        display: flex;
        flex-direction: column;
        height: 300px;
        align-items: center;
    }
    #show .text{
        top:60%;
        left: 25%;
    }
    nav ,.logo {
        margin-left: 0;
    }
    #sec1 .box1{
        padding: 50px 50px 50px 50px;
    }
    #sec1 .box2{
        padding: 50px 50px 50px 50px;
    }
    footer .box1{
        padding: 50px 50px 50px 50px;
    }
    footer .box2{
        padding: 50px 50px 50px 50px;
    }
    footer .box3 {
        padding: 50px 50px 50px 50px;
    }

}
@media (max-width: 1000px) {
    nav ,.logo {
        margin-left: 0;
    }
    #sec1 .box1{
        padding: 25px 50px 25px 50px;
    }
    #sec1 .box2{
        padding: 25px 50px 25px 50px;
    }
    footer .box1{
        padding: 25px 50px 25px 50px;
    }
    footer .box2{
        padding: 25px 50px 25px 50px;
    }
    footer .box3 {
        padding: 25px 50px 25px 50px;
    }
}
@media(max-width: 945px) {
#sec1, #html, #css, #js, footer{
    display: flex;
    flex-direction: column;
}
    .box1, .box2{
        width: 100%;
    }
    #sec1 .box1{
        width:80%;
    }
    #sec1 .box2{
        width:80%;
    }
    #sec1{
        height: 700px;
    }
    #html .text{
        width: 80%;
    }
    #html iframe{
        width: 80%;
    }
    #css .text{
        width: 80%;
    }
    #css iframe{
        width: 80%;
    }
    #js .text{
        width: 80%;
    }
    #js iframe{
        width: 80%;
    }
   footer .box3{
       width: 100%;
   }
    footer .icon{
        width: 50%;
        margin-left: 20%;
    }
    footer p{
        text-align: center;
    }

}



